make python 3.7 conda environment:
conda create -n py37 python=3.7
source activate py37

Have these packages installed:
numpy		 conda install numpy
dxfile       conda install -c conda-forge dxfile 
dxchange     conda install -c conda-forge dxchange 
pyqt5		 conda install -c conda-forge pyqt 
matplotlib	 conda install -c conda-forge matplotlib 
pyqtgraph 	 conda install -c conda-forge pyqtgraph 


To install: 
navigate to xfluo directory and run installer
	python setup.py install
to run initializer
	python bin/xfluo init
to run the gui
	python bin/xfluo gui

